<section class="l-content course-details">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-folder-open"></span> Course details
      </h3>
    </div>
    <div class="panel-body row">
      <form name="courseDetailsForm" ng-submit="submit(course, courseDetailsForm)" class="form-horizontal col-md-10 col-md-offset-1">
        <div class="form-group">
          <label for="inputTitle" class="col-md-2 control-label">Title</label>
          <div class="col-md-5">
            <input required ng-model="course.title" type="text" class="form-control" id="inputTitle">
          </div>
        </div>
        <div class="form-group">
          <label for="inputDescription" class="col-md-2 control-label">Description</label>
          <div class="col-md-10">
            <textarea required ng-model="course.description" class="form-control" id="inputDescription" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="inputDate" class="col-md-2 control-label">Date</label>
          <div class="col-md-3">
            <input required ng-model="course.createdDate" type="date" class="form-control" id="inputDate">
          </div>
        </div>
        <div class="form-group">
          <label for="inputDuration" class="col-md-2 control-label">Duration</label>
          <div class="col-md-2">
            <input required ng-model="course.duration" type="number" class="form-control" id="inputDuration">
          </div>
          <p class="course-details-duration">{{course.duration | durations}}</p>
        </div>
        <div class="form-group">
          <label for="inputAuthors" class="col-md-2 control-label">Authors list</label>
          <div class="col-md-3">
            <select ng-model="selectedAuthors" multiple class="form-control" id="inputAuthors">
              <option ng-repeat="author in allAuthors" value="{{author}}">{{author}}</option>
            </select>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-default btn-block" ng-click="addAuthors(selectedAuthors)">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <button type="button" class="btn btn-default btn-block" ng-click="removeAuthors(noNecessaryAuthors)">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
          </div>
          <div class="col-md-3">
            <select required ng-model="noNecessaryAuthors" multiple class="form-control">
              <option ng-repeat="author in course.authors" value="{{author}}">{{author}}</option>
            </select>
          </div>
        </div>
        <div class="form-group course-details-actions">
          <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary" ng-disabled="courseDetailsForm.$invalid">
              <span class="glyphicon glyphicon-ok"></span> Save
            </button>
            <button type="reset" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<script type="text/ng-template" id="errorContent.html">
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" ng-click="cancel()"><span>×</span></button>
    <h4>Error message</h4>
    <p>{{error}}</p>
    <p>
      <button type="button" class="btn btn-danger" ng-click="ok()">OK</button>
    </p>
  </div>
</script>
