<div class="courses-wrap">
  <section class="row">
    <form class="form-horizontal col-md-10">
      <div class="form-group">
        <div class="col-md-8">
          <input ng-model="coursesList.query" type="search" class="form-control" placeholder="Type a title">
        </div>
        <button type="submit" class="btn btn-info">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </div>
    </form>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary pull-right" ng-click="coursesList.addCourse()">
        <span class="glyphicon glyphicon-plus"></span> Add Course
      </button>
    </div>
  </section>

  <section class="l-content courses">
    <article
      class="course well"
      ng-repeat="course in coursesList.courses | orderBy: coursesList.sortOrder | filter: coursesList.query">
      <div class="row">
        <div class="col-md-10">
          <header class="row">
            <h3 class="course-title col-md-10">{{course.title}} <small>{{course.duration | durations}}</small></h3>
            <div class="col-md-2">
              <time class="course-time pull-right"><strong>{{course.createdDate | date: 'dd.MM.yyyy'}}</strong></time>
            </div>
          </header>
          <p>{{course.description}}</p>
          <footer>
            <em class="text-muted">{{course.authors.join(', ')}}</em>
          </footer>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-warning btn-block" ng-click="coursesList.editCourse(course)">
            <span class="glyphicon glyphicon-pencil"></span> Edit Course
          </button>
          <button type="button" class="btn btn-danger btn-block" ng-click="coursesList.removeCourse(course)">
            <span class="glyphicon glyphicon-remove"></span> Delete
          </button>
        </div>
      </div>
    </article>
  </section>
</div>
