<section class="row col-md-7 col-md-offset-3">
  <div class="alert alert-danger" ng-class="{isHidden: !loginForm.error}">
    <span class="glyphicon glyphicon-exclamation-sign"></span> {{loginForm.error}}
  </div>
  <form name="loginTagForm" class="form-horizontal" ng-submit="loginForm.login()">
    <div class="form-group">
      <label for="inputLogin" class="col-md-2 control-label">Login</label>
      <div class="col-md-8" ng-class="{'has-error': loginForm.hasError('login')}">
        <input required
               ng-model="loginForm.user.login"
               ng-pattern="loginForm.loginRegex"
               ng-blur="loginForm.validate($event)"
               ng-keyup="loginForm.validate($event)"
               type="text" class="form-control" id="inputLogin" placeholder="Login">
      </div>
      <p class="text-danger" ng-show="loginForm.isLoginRequired">* required</p>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-md-2 control-label">Password</label>
      <div class="col-md-8" ng-class="{'has-error': loginForm.hasError('password')}">
        <input required
               ng-model="loginForm.user.password"
               ng-pattern="loginForm.passRegex"
               ng-blur="loginForm.validate($event)"
               ng-keyup="loginForm.validate($event)"
               type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <p class="text-danger" ng-show="loginForm.isPasswordRequired">* required</p>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button type="submit" class="btn btn-primary" ng-disabled="loginTagForm.$invalid">
          <span class="glyphicon glyphicon-log-in"></span> Sign in
        </button>
      </div>
    </div>
  </form>
</section>
