<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Angular CDP</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="AngularCDP">
  <div class="l-wrapper container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Angular CDP</a>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Courses</a></li>
        </ul>
        <p class="navbar-text">Course #1</p>
        <div class="navbar-right">
          <p class="navbar-text">
            <span class="glyphicon glyphicon-user"></span> Test User
          </p>
          <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-log-out"></span> Log Out
          </button>
        </div>
      </div>
    </nav>

    <section ng-controller="LoginController" class="row col-md-7 col-md-offset-3">
      <div class="alert alert-danger" ng-class="{isHidden: !error}">
        <span class="glyphicon glyphicon-exclamation-sign"></span> {{error}}
      </div>
      <form name="loginForm" class="form-horizontal" ng-submit="login(user, loginForm)">
        <div class="form-group">
          <label for="inputLogin" class="col-md-2 control-label">Login</label>
          <div class="col-md-8" ng-class="{'has-error': isLoginInvalid || isLoginRequired}">
            <input required
                   ng-blur="validate($event)"
                   ng-keyup="validate($event)"
                   ng-model="user.login"
                   ng-pattern="loginRegex"
                   type="text" class="form-control" id="inputLogin" placeholder="Login">
          </div>
          <p class="text-danger" ng-show="isLoginRequired">* required</p>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-md-2 control-label">Password</label>
          <div class="col-md-8" ng-class="{'has-error': isPasswordInvalid || isPasswordRequired}">
            <input required
                   ng-blur="validate($event)"
                   ng-keyup="validate($event)"
                   ng-model="user.password"
                   ng-pattern="passRegex"
                   type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
          <p class="text-danger" ng-show="isPasswordRequired">* required</p>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">
              <span class="glyphicon glyphicon-log-in"></span> Sign in
            </button>
          </div>
        </div>
      </form>
    </section>

    <footer class="l-footer navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <p class="navbar-text text-center copy"><small>@ EPAM System 2016</small></p>
      </div>
    </footer>
  </div>

  <script src="../node_modules/angular/angular.min.js"></script>
  <script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
  <script src="js/app.js"></script>
  <script src="components/login/login_controller.js"></script>
</body>
</html>
